@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 80vh;
    min-width: 1440px;
    font-family: "Karla";
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: hsl(204, 43%, 93%);
}

/* ======================== Star Main Area ================ */

.site {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 800px;
    background-color: white;
    border-radius: 8px;
    margin-left: 450px;
}
  
  /* ======================== Start Info Section Area ================ */

.info{
    text-align: start;   
    padding: 30px;
}

.info-h1{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 35px;
    font-style: normal;
    color: hsl(179, 62%, 43%);   
    padding: 30px 0px; 
}

.info-h2{
    font-size: 1.5rem;
    color: hsl(71, 73%, 54%);
    font-style: normal;
    font-weight: 700;
    padding-top: 10px;
}

.info-para{
    font-size: 1rem;
    color: hsl(218, 22%, 67%);
    font-style: normal;
    font-weight: 400;  
    padding: 20px 0px;  
}
  
  /* ======================== End Info Section Area ================ */
  /* ======================== Start SingUp Section Area ================ */
  
.singup{
      margin-top: 20px;
      display: flex;
}
    
    /* ======================== Start Price Area ================ */

.price{
    width: 400px;
    background-color: hsl(179, 62%, 43%);
    text-align: start;
    padding: 30px;
    border-radius: 0px 0px 0px 8px;
}

.price-h3{
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    font-style: normal;
    font-weight: 700;
}

.price-small{
    font-size: 1rem;
    color: hsl(204, 43%, 93%);
    font-style: normal;
    font-weight: 400;  
    padding-top: 20px; 
}

.price-small > strong{
    color: hsl(204, 43%, 93%);
    font-size: 1.5rem;
    font-weight: 700;
}

.price-para{
    font-size: 1rem;
    color: white;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
}

.btn{
    width: 90%;
    padding: 20px;
    margin-top: 40px;
    border-radius: 8px;
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: hsla(71, 73%, 54%, 0.753);
}

/* ======================== Start About Area ================ */

.about{
    width: 400px;
    background-color: hsla(179, 62%, 43%, 0.767);
    text-align: start;
    padding: 30px;
    border-radius: 0px 0px 8px 0px;
}

.about-h3{
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.about-ul{
    margin-top: 20px;
}

.about-li{
    list-style: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
}

  
  /* ======================== End SingUp Section Area ================ */

  /* ======================== End Main Area ================ */

/* ======================== START Footer Area ================ */

.foot {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: hsl(71, 73%, 54%);
    justify-content: center;
    background-color: black;
    padding: 5px;
    margin-top: 70px;
  }
  
.foot a {
    color: hsl(179, 62%, 43%);
    text-decoration: none;
}
  
  
  /* ======================== End Footer Area ================ */
  
  /* ======================== Start Media Querry Area ================ */

@media screen and (max-width: 768px) {
    body{
        min-width: fit-content;
    }

    .info-h1{
        font-size: 2rem;
    }

    .info-h2{
        font-size: 1.2rem;
    }

    .site{
        width: 90%;
        margin-left: 20px;
        margin-top: 50px;
    }

    .singup{
        flex-direction: column;
    }

    .price{
        width: 100%;
        border-radius: 0px 0px 0px 0px;
    }

    .about{
        width: 100%;
        border-radius: 0px 0px 8px 8px;
    }
}

@media screen and (max-width: 420px){
    body{
        min-width: 420px;
    }
}
  
  /* ======================== End Media Querry Area ================ */